.wrapper {
  display: flex;
  align-items: center;
  gap: 5px; 
  flex : 1;
}

.slider {
  flex: 1;
  max-width: 70px; 
}

.input {
  width: 55px;
  height: 50px;
  text-align: center;         
  display: flex;
  align-items: center;        
  justify-content: center;  
}


.metricPanelVisible {
  opacity: 1;
  transform: translateX(0);
}

.metricHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;
  gap: 4px;
}

.metricHeader p {
  margin: 0;
  font-size: 14px;
  flex: 0.8;
}


.metricHeader .wrapper {
  display: flex;
  flex: 2;
  gap: 4px;
  align-items: center;
}


.metricPanel {
  position: absolute;
  margin-left: 70px;
  left: 30px;
  background-color: #D9D9D9E5;
  border-radius: 12px;
  width: 400px;
  height: 270px;
  display: flex;
  flex-direction: column;
  font-family: 'Anton', sans-serif;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}


.metricPanelHeader {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 4px 0;
}

.metricPanelContent {
  padding: 0 10px;
  overflow-y: auto;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.metricPanelFooter {
  display: flex;
  padding: 8px;
  justify-content: center;
}