.header {
  position: absolute;
  top: 40px;
  left: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 140px);
  z-index: 1001;
}

.logoContainer {
  display: flex;
  align-items: center;
  flex-direction: row-reverse; /* <- pour mettre le logo à droite du texte */
  gap: 0px;
  
}


.logoIcon {
  height: 40px;
  width: auto;
}

.logoText {
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.toggleButtons {
  position: absolute;
  top: 5px;
  right: 40px; /* ajuste selon ce que tu veux */
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid #000;
}


.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: white;
  border: none;
  padding: 4px 8px;
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  cursor: pointer;
  color: #000;
  transition: transform 0.3s ease;
}
.panelOpen {
  transform: translateX(-350px); 
  
}
.btn img {
  height: 35px;
  
}

.active {
  background-color: #FFD500; /* Jaune vif */
}

.languageSwitcher {
  position: absolute;
  top: 2px;
  right: 40px; /* ajuste la position à ta guise */
}

.languageButton {
  background: none;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  padding: 0;
}

.languageButton img {
  height: 130%;
  width: auto;
}

.dropdown {
  position: absolute;
  top: 70px;
  right: -30px;
  background: white;
  border: 2px solid black;
  border-radius: 8px;
  z-index: 1002;
}

.dropdown div {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown div:hover {
  background-color: #f0f0f0;
}
