.layersBox {
  position: absolute;
  top: 250px;
  left: 140px;
  background: #d9d9d9b7;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  width: 230px;
  height: 350px; /* ← ajoute cette ligne */
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.title {
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 0 0 12px 0;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  justify-items: center;
  align-items: center;
}

.iconItem {
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 80px;
  height: 150px; /* ← augmenté */
  box-sizing: border-box;
}


.iconItem:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.iconItem img {
  width: 75px;
  height: auto;
}

.iconItem span {
  margin-top: 6px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: black;
  line-height: 1.2;

  height: 2.8em;           /* même hauteur pour tous */
  display: flex;           /* centrer le contenu verticalement */
  align-items: center;
  justify-content: center;
}



