
.score-detail-wrapper {
  position: fixed;
  top: 0.5rem;
  right: 0;
  max-width: 420px;
  width: 100%;
  max-height: 90vh;
  background-color: #ffffff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 25px;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
}




.score-detail-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.back-button {
  display: inline-block; 
  background: white;
  border: 1px solid white;
  padding: 10px 14px;
  border-radius: 6px;
  margin-bottom: 16px;
  font-size: 16px;
  font-family: 'Anton', sans-serif;
  color: #174dc2;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
.back-button:hover {
  color: #26282e;
  background: #f8f8f8;
}



.score-header-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.score-icon-centered {
  width: 64px;
  height: 64px;
}


.score-detail-title-centered {
  font-family: 'Anton', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #111827;
  word-break: break-word;
  max-width: 100%;
  line-height: 1.3;
}


.score-bar-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.score-bar-container {
  flex: 1;
  height: 10px;
  background-color: #e5e7eb;
  border-radius: 5px;
  overflow: hidden;
}

.score-bar-fill {
  height: 100%;
  transition: width 0.3s ease-in-out;
  border-radius: 5px;
}

.score-bar-fill.low {
  background-color: #ef4444;
}
.score-bar-fill.medium {
  background-color: #f59e0b;
}
.score-bar-fill.high {
  background-color: #10b981;
}

.score-value {
  font-size: 0.9rem;
  font-weight: 500;
  color: #1f2937;
  min-width: 40px;
}


.main-op-description {
  font-size: 0.85rem;
  color: #374151;
  line-height: 1.5;
}

/* --- SUBCRITERIA SECTION --- */
.subcriteria-section {
  display: flex;
  flex-direction: column;
  gap: 18px;
}


.subcriterion {
  background: #f9fafb;
  border-radius: 12px;
  padding: 12px 16px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subcriterion-header {
  font-family: 'Anton', sans-serif;
  font-size: 0.9rem;
  color: #4a6be3f4;
}


.sub-score-value {
  font-size: 0.8rem;
  color: #1f2937;
  min-width: 40px;
}


.subcriterion .score-bar-wrapper {
  margin-top: -4px;
  gap: 8px;
}

.subcriterion-description {
  font-size: 0.8rem;
  color: #6b7280;
  line-height: 1.4;
}

.score-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 4px;
}

.score-bar-fill.yellow {
  background-color: #facc15; /* Tailwind yellow-400 */
}

.__react_component_tooltip {
  z-index: 9999;
  max-width: 250px;
  word-wrap: break-word;
  font-family: 'Arial', sans-serif;
  font-size: 13px;
}