.sidebar {
  position: absolute;
  top: 150px;
  left: 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 1001;
}


.control {
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  box-shadow: none; 
  cursor: pointer;
}
