.report-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: white;
  overflow: auto;
  padding-top: 100px;
}

.report-chart {
  width: 500px;
  margin: 0 auto;
  display: block;
}

.report-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.report-comparaison {
  background: #f6f6f6;
  border-radius: 16px;
  padding: 20px;
  width: 80%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
