.chat {
  position: absolute;
  bottom: 30px;
  right: 85px;
  width: 90px;
  height: 90px;
  background-color: #F27E1E; /* orange */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* drop shadow */
  cursor: pointer;
  z-index: 1002;
}

.chat img {
  width: 60px;
  height: 60px;
  pointer-events: none;
}
