.panel-container {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 2px;
  max-width: 420px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

}

.university-panel {
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
}

.university-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  text-align: center;
}

.university-name {
  font-size: 1.2rem;
  font-family: 'Anton', sans-serif;
  margin-bottom: 4px;
}

.university-medal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-bottom: 24px;
}

.score-box {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.score-box.op {
  background-color: #dbeafe;
}

.score-box.ratio {
  background-color: #fef08a;
}

.score-id {
  font-size: 0.75rem;
  font-weight: 600;
  width: 36px;
  text-decoration: underline;
}

.score-section {
  background-color: #f9fafb;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.score-section-title {
  font-size: 1rem;
  color: #3b3b3b;
  font-family: 'Anton', sans-serif;
  margin: 5px;
}

.score-section-description {
  font-size: 0.8rem;
  color: #555;
  font-weight: normal;
  margin: 0;
}

.university-panel-scrollable {
  max-height: 100vh;
  overflow-y: auto;
  padding-right: 4px;
}

.university-panel-scrollable::-webkit-scrollbar {
  width: 4px;
}

.university-panel-scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
