.panel-container {
  background-color: rgba(255, 255, 255, 0.6); /* white at 60% opacity */
  border: 1px solid rgba(0, 0, 0, 0.1);       /* light border */
  border-radius: 8px;
  padding: 2px;
  max-width: 420px; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.university-panel {
  padding: 16px;
  max-width: 420px;
  background-color: #fff;
  border-radius: 8px;
}

.university-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  text-align: center;
}

.university-name {
  font-size: 1.2rem;
  font-family: 'Anton', sans-serif;
  margin-bottom: 4px;
}

.university-medal {
  display: flex;
  justify-content: center;
  align-items: center;
}



.score-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-bottom: 24px;
}

.score-box {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.score-box.op {
  background-color: #dbeafe; /* light blue */
}

.score-box.ratio {
  background-color: #fef08a; /* light yellow */
}

.score-id {
  font-size: 0.75rem;
  font-weight: 600;
  width: 36px;
  text-decoration: underline;
}

.score-bar-container {
  flex: 1;
  height: 8px;
  background-color: white;
  border-radius: 5px;
  margin: 0 4px;
}

.score-bar-fill {
  height: 8px;
  border-radius: 3px;
  transition: width 0.3s ease;
}

.score-bar-fill.low {
  background-color: #ca0909; 
}

.score-bar-fill.medium {
  background-color: #f6c503; 
}

.score-bar-fill.high {
  background-color: #15a84b; 
}

.score-value {
  font-size: 0.75rem;
  font-weight: bold;
  white-space: nowrap;
}

.score-section {
  background-color: #f9fafb; /* very light grey */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}



.score-section-heading {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 12px;
  flex-wrap: wrap; /* handles overflow on small screens */
}

.score-section-title {
  font-size: 1rem;
  color: #3b3b3b;
  font-family: 'Anton', sans-serif;
  margin: 5px;
}

.score-section-description {
  font-size: 0.8rem;
  color: #555;
  font-weight: normal;
  margin: 0;
}

.university-panel-scrollable {
  max-height: 100vh;           
  overflow-y: auto;
  padding-right: 4px;        
}


.university-panel-scrollable::-webkit-scrollbar {
  width: 4px;
}

.university-panel-scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
